.card {
    width: 55rem;
    height: 30rem;
    background-color: #fff;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 18rem;
    gap: 12px;
}

.input-data {
    width: 20rem;
    height: 2.5rem;
    border: 1px solid #2884B2;
    background: #E6ECF8;
}

.input-inicio {
    width: 20rem;
    height: 2.5rem;
    border: 1px solid #2884B2;
    background: #E6ECF8;
}

.input-observacao {
    width: 20rem;
    height: 8rem;
    border: 1px solid #2884B2;
    background: #E6ECF8;
}

.text-input {
    font-size: 1.2rem;
    font-weight: 500;
}


.container-button {
    width: 98rem;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

button {
    width: 6rem;
    height: 2.5rem;
    border: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #fff;
    background-color: #f00;
}

button:hover {
    background-color: #2884B2;
}