.card {
    width: 20rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #626262;
    background-color: #fff;
    transition: .5s;
    cursor: pointer;
}

.card:hover {
    color: #fff;
    background-color: #2884B2;
}

.fa-tasks {
    font-size: 4rem;
}

h2 {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2rem;
}