.container-tarefas {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    width: 14rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #626262;
    background-color: #fff;
    transition: .5s;
    cursor: pointer;
    gap: 18px;
}

.card:hover {
    color: #fff;
    background-color: #2884B2;
}

.numero-tarefa {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.fa-wrench {
    font-size: 4rem;
}

.nome-tarefa {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}