.container-inicio {
    display: flex;
    color: #666666;
}

.logo-senai {
    height: 40px;
}

.container-title {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
}

.title {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #666666;
}

.subtitle {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #666666;
}

h1 {
    display: flex;
    justify-content: end;
    font-size: 24px;
    text-transform: uppercase;
    padding-right: 10rem;
}