.container-card {
    display: flex;
    gap: 24px;
}

.card {
    width: 20rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #626262;
    background-color: #fff;
    transition: .5s;
    cursor: pointer;
}

.card:hover {
    color: #fff;
    background-color: #2884B2;
}

.card-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}